*{
  background-image: url("Imagenes/ingresos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:white;
}

.nav li a{
  color:white;
  text-decoration: none;
  display: inline-block;
  text-decoration-line: none;
  padding: 10px 30px;
}
.registro {
    color: white;
    text-decoration: none;
    padding: 10px 120px;
    margin: -32px;

}
.registro {
color: #F45050;
}
.tabla{
  color:#F45050;
}
.editar{
  color:white;
}
.eliminar{
  color: white;
}
.footer{
  background-color: black; 
  color: white; 
  text-align: center;
}
.resultado{
  color: white;
}
td{
  color: white !important;
}